@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  font-family: "Roboto Mono", sans-serif, monospace;
  font-weight: 400;
  color: #000;
  font-size: 1.2rem;
  word-spacing: 0.1rem;
  overflow-x: hidden;
}
